/* HERO MAX WIDTH 1578 */
/* 2nd section max width 1455 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1;
  position: relative;
  overflow-x: hidden;
}

.menu {
  display: none;
}
.header .nav-logo {
  display: none;
}

.menu-open {
  width: 3.4rem;
  height: 3.4rem;
  color: #4f4f59;
  z-index: 9999;
  cursor: pointer;
  transition: all 0.9s ease-in-out;
}
.menu-open:hover {
  transform: rotate(360deg);
  color: #5368df;
}

.menu-close {
  width: 3.4rem;
  height: 3.4rem;
  color: #fff;
  z-index: 9999;
  cursor: pointer;
  transition: all 0.9s ease-in-out;
}
.menu-close:hover {
  transform: rotate(360deg);
  color: #5368df;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.img {
  width: 100%;
  height: 100%;
  display: block;
}

.logo {
  width: 20rem;
  height: 3.4rem;
  display: block;
}

.heading-primary {
  font-size: 6rem;
  font-weight: 500;
}

.heading-secondary {
  font-size: 4rem;
  font-weight: 500;
}

.text-description {
  color: #9194a1;
  font-size: 2rem;
  line-height: 1.6;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: 1fr 1fr;
}

.btn-primary:link,
.btn-primary:visited {
  background-color: #5368df;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover,
.btn-primary:active {
  background-color: transparent;
  color: #5368df;
  border-color: #5368df;
}
.btn-secondary:link,
.btn-secondary:visited {
  background-color: #f7f7f7;
  text-decoration: none;
  font-weight: 500;
  color: #4f4f59;
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  display: inline-block;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.btn-secondary:hover,
.btn-secondary:active {
  background-color: transparent;
  border-color: #4f4f59;
  color: #4f4f59;
}

.margin-btm-sm {
  margin-bottom: 3rem;
}
.margin-btm-md {
  margin-bottom: 6rem;
}

.answer {
  line-height: 1.6;
}
